<form class="box container">
    <div class="field">
        <label class="label">Asunto</label>
        <div class="select">
            <select name="asunto" id="asunto">
                <option value="alquiler">Quiero alquilar</option>
                <option value="asesor">Necesito asesoría</option>
                <option value="pqr">Quejas o reclamos</option>
                <option value="info">Información general</option>
            </select>
        </div>
    </div>


    <div class="field">
        <label class="label">Nombre Completo</label>
        <div class="control">
            <input class="input" type="text" placeholder="John Doe">
        </div>
    </div>
    <div class="field">
        <label class="label">Correo</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Mensaje</label>
        <div class="control">
            <textarea class="textarea" placeholder="Mensaje..."></textarea>
        </div>
    </div>

    <button class="button is-primary">Enviar</button>
</form>