<aside class="menu">
    <p class="menu-label">
        Ordenar por
    </p>
    <div class="menu-list select">
        <select>
            <option value="destacados">Destacados primero</option>
            <option value="p-desc">Menor primero</option>
            <option value="p-asc">Mayor primero</option>
            <option value="n-asc">A-Z</option>
            <option value="n-desc">Z-A</option>
        </select>
    </div>
    <p class="menu-label">
        Valoración
    </p>    
    <div class="menu-list">
        <p>
            <span class="icon">
                <i class="fas fa-star"></i>
            </span>
            <span class="icon">
                <i class="far fa-star"></i>
            </span>
            <span class="icon">
                <i class="far fa-star"></i>
            </span>
            <span class="icon">
                <i class="far fa-star"></i>
            </span>
            <span class="icon">
                <i class="far fa-star"></i>
            </span>
        </p>
    </div>
    <p class="menu-label">
        Marca
    </p>
    <ul class="menu-list">
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Chevrolet
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Renault
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Nissan
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Mazda
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Honda
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Hyundai
            </label>
        </li>
    </ul>
    <p class="menu-label">
        Precio
    </p>
    <ul class="menu-list">
        <li class="field">
            <input type="range" name="precio" id="precio">
        </li>
        <li class="field">
            <div class="columns">
                <div class="column">
                    <input class="input" type="text" name="minprecio" id="minprecio" placeholder="Min val.">
                </div>
                <div class="column">
                    <input class="input" type="text" name="maxprecio" id="maxprecio" placeholder="Max val.">
                </div>
            </div>

        </li>
    </ul>

    <p class="menu-label">
        Color
    </p>
    <ul class="menu-list">
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Rojo
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Negro
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Plata
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Azul
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Amarillo
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Gris
            </label>
        </li>
    </ul>
</aside>